@model DateTime

@{
    ViewBag.Title = "Dates";
}

<h2>Dates</h2>
<div>
    <form action="DateMagic" method="post">
        <p>Enter your birthday: <input name="inputBirthday" type="date" /></p>
        <input name="submit" type="submit" />
    </form>
    @{
        DateTime pres = new DateTime(2020, 11, 3);
        TimeSpan diff = pres.Subtract(Model);
        DateTime now = DateTime.Now;
        TimeSpan diff2 = now.Subtract(Model);
    }
    <p>Your Birthday is: @Model</p>
    <p>Your Birth Year is: @Model.Year</p>
    <p>During the next election you will be: @((diff.Days) / 365) years old</p>
    <p>Leap Years in your life: @((diff2.Days)/365/4)</p>
</div>
