@model DateTime

@{
    ViewBag.Title = "Dates";
}

<h2>Dates</h2>
<div>
    <form action="DateMagic" method="post">
        <p>Enter your birthday: <input name="inputBirthday" type="date" /></p>
        <input name="submit" type="submit" />
    </form>
    <p>
        @{
            DateTime pres = new DateTime(2020, 11, 3);
            TimeSpan diff = pres.Subtract(Model);
        }
        During the next election you will be: @((diff.Days)/365) years old;
    </p>
</div>
