
@model string
@{
    ViewBag.Title = "Index";
}

<h2>Improved Heading</h2>

<div>
    <form action="SayHello" method="post">
        <h4>Type your name</h4>
        <input name="inputString" />
        <input name="submit" type="submit" />
    </form>
    <p>
        @Model
    </p>
</div>
