@model string
@{
    ViewBag.Title = "Index";
}

<h2>Welcome Page</h2>

<div>
    <form action="SayHello" method="post">
        <input name="inputString" type="text" placeholder="Enter your name here!"/>
        <input name="submit" type="submit" />
    </form>
    <p>
        @Model
    </p>
</div>